/**** custom properties ********/
@font-face {
    font-family: 'Canela';
    src: url('../fonts/canela/Canela-Regular-Trial.otf'),
        url('../fonts/canela/Canela-Bold-Trial.otf'),
        url('../fonts/canela/Canela-Medium-Trial.otf');
    font-weight: 1 999;
    font-style: normal;
}


html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family:'Canela', sans-serif;
    font-size: 62.5%;
    color: #ffffff;
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0.70) 75%, rgba(255,255,255,0.75) 100%);
    background-repeat: no-repeat;

    height: 100%;
    min-height: 100vh;
    word-spacing: 0.1rem;
    
}
p {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    line-height: 1.5;
}
@media (min-width: 768px){
    p {
        font-size: 1.6em;
    }
}
h1 {
    font-size: 2.2em;
    text-align: left;
    margin: 1rem 0;
    color: #fff;
}
a {
    text-decoration: none;
    color: rgb(214, 199, 199);
}
a:hover {
    opacity: 0.6;
}
label {
    font-size: 1.6em;
    text-align: left;
    justify-content: center;
}
@media (min-width: 768px) {
    label {
        text-align: center;
        margin: auto 0;
    }
}
.container {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;

}
input {
    font-family:'Canela', sans-serif;
    font-weight: bold;
}


/*** Js  events***/

.opacity-50 {
    opacity: 0.5;
}
.opacity-50:hover {
    cursor: not-allowed;
}
.error-text {
    padding: 0.6rem;
    background-color: #ae6565;
}

/**** Calculadora  *******/
main {
    padding: 1rem;
}
@media (min-width: 768px) {
    main {
        padding: 2rem;
    }
}
#formulario {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    font-size: 1em;
}
@media (min-width: 768px) {
    #formulario {
        grid-template-columns: repeat(2, 1fr 1fr);

    }
}
.calculadora {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}
.calculadora p {
    margin: 1rem 0;
}
.calculadora__form {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
}
input {
    margin: 1rem 0;
    padding: 0 1rem;
    height: 3em;
    border-radius: 0.4rem;
    font-family: sans-serif;
}
@media (min-width: 768px) {
    input {
        max-width: 15rem;
        margin: auto auto;
    }
}
input[type=submit] {
    background-color: #e2e2e2;
    margin: 1rem 0;
}
.calculadora__results {
    padding: 2rem 0;
    text-align: left;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr 1fr);
}
.calculadora__results p {
    margin: 0.4rem 0;
}
.calculadora__results span {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.4rem 0;
}
@media (min-width: 768px) {
    .calculadora__results {
        padding: 2rem 0;
        grid-column: 1 / 5;
    }
    .calculadora__results p {
        display: inline-block;
    }
    .calculadora__results span {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 1.6em;
    }
}
.calculadora__neto--container {
    grid-column: 1 / 3;
}
.calculadora__coste--container {
    grid-column: 3 / 5;
}

.calculadora__neto,
.calculadora__coste {
    padding: 1rem 0;
}
input[type=number]::placeholder{
    opacity: 0.3;
}

/* Button Start */

input:focus {
    background-color: rgb(255, 242, 232);
}
input.btn {
    display: block;
    background-color: #ffffff;
    border: 0.1rem outset #fff;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    margin: 1rem auto;
    font-size: 1.8em;

    max-width: 13rem;
    width: 100%;
    height: 2.4rem;

    transition: all 0.5s ease-in-out;
}
@media (min-width: 768px) {
    input.btn {
        grid-column: 4 / 5;
    }
}
input.btn:hover {
    background:  rgba(0, 0, 0, 0.85);
    border: 0.1rem outset #fff;
    color: #fff;
    cursor: pointer;
}

/*   FOOTER   */
.footer {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
@media (min-width: 768px) {
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.footer p {
    display: inline;
    color: #000;
    font-weight: bold;
    font-size: 1.6em;
}
.footer img {
    width: 12rem;
}

/* MENSAJES DE ERROR */

.error {
    background-color: #ae6565;
    height: 2em;
    border-radius: 1rem;
    text-align: center;
    color: #fff;
    grid-column: 1 / 5;

}